/* Базовые стили для светлой темы */
:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --link-effects: #ff8dcb;
  --rec-display: none;
  --p-color: #353430;
}
