/* Базовые стили для светлой темы */
:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.jpg");

  --color-heading-primary: #ffc2e6; /* Главный заголовок */
  --heading-color: #353430; /* заголовки */
  --text-primary: #353430; /* основной текст */
  --text-secondary: #ff8dcb; /* второстепенный текст */

  --accent-color: var(--text-secondary);
  --shadow-color: var(--text-secondary);
  --link-effects: var(--heading-color);
  --text-color-title: var(--text-primary);


  --heading-shadow: 4px 4px 0 var(--shadow-color); /* Тень заголовока */

  --border-color: var(--heading-color);
  --border-color-rgb: 50, 49, 45;

  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.jpg");

  --color-heading-primary: #ffc2e6; /* Главный заголовок */
  --heading-color: #353430; /* заголовки */
  --text-primary: #353430; /* основной текст */
  --text-secondary: #ff8dcb; /* второстепенный текст */

  --accent-color: var(--text-secondary);
  --shadow-color: var(--text-secondary);
  --link-effects: var(--heading-color);
  --text-color-title: var(--text-primary);


  --heading-shadow: 4px 4px 0 var(--shadow-color); /* Тень заголовока */

  --border-color: var(--heading-color);
  --border-color-rgb: 50, 49, 45;

  --rec-display: none;
  }
}
