/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(/images/cover-image-light.png);
  --text-color: #353430;
      --accent-color: #ff8dcb;
  .decorative-rec {
  display: none;}



}




/*
.light-theme .decorative-rec {
  display: none;
}

:root {
    --accent-color: #ff8dcb;
} 
  */
