html {
  margin: 0;
}

body {
  font-family: "IBM Plex Mono", monospace;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;

  background: var(--bg-image) center / cover fixed;
}

h1,
h2,
p,
ul,
li,
strong {
  margin: 0;
  padding: 0;
  margin-block: 0;
}

h2,
strong {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-color);
}

p {
  font-size: 18px;
  font-weight: 400;
  color: var(--p-color);
  line-height: 23.4px;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
}

/* ----- настройки страницы ----- Mobile first (376px) */
/* -----  header ----- */
.header {
  display: grid;
  width: 100%;
  /*  min-height: 668px;*/
  background-color: var(--bg-color);
  color: var(--text-color);
  place-self: center center;
}

.header__theme-menu {
  grid-column: 3;
  list-style: none;
  padding: 75px 10px 0;
  justify-items: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  place-self: center center;
}

.header__theme-menu-button {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  min-width: 70px;
  text-transform: lowercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

.header__theme-menu-button_active {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--p-color);
}

.block-title {
  grid-row: 2;
  width: 69vw;
  padding: 13px 10px 0;
  place-self: start end;
}

.block-title_text {
  font-weight: 700;
  line-height: 0.81;
  font-size: clamp(7.23rem, 0.5625rem + 14.4531vw, 9.8125rem);
  /*  font-size: 116px; /* fallback для неподдерживаемых браузеров */
  color: var(--title-color);
}

.text-shadow_header {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.cit-block {
  grid-column: span 3;
  padding: 0 10px 10px;
  place-self: start end;
}

.cit-text {
  font-weight: 700;
  font-size: 18px;
}

.highlight-block {
  width: 100%;
  color: var(--text-color-title);
  background-color: var(--accent-color);
  height: fit-content;
}

/* ----- Декоративный элемент REC только в тёмной теме ----- */

.decorative-rec {
  display: var(--rec-display);
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  line-height: 24px;
  text-transform: uppercase;
}

/* Псевдоэлемент: точка справа от REC с размытием */
.decorative-rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0 0 12px #ff0070;
  vertical-align: middle;
  margin-left: 9px;
}

/* Псевдоэлемент: уголки */
.decorated-zone {
  position: relative;
  height: clamp(568px, 100vh, 668px);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--text-color);
}

/* Верхний правый уголок */
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

/* Нижний левый уголок */
.decorated-zone::after {
  left: 10px;
  bottom: 10px;
  border-right: none;
  border-top: none;
}

/* ----- CSS MAIN   основноq контент Mobile first (376px) ----- */
.main-content {
  display: grid;
  gap: 50px;
  margin: 40px 10px;
}

.main-section {
  display: grid;
  grid-column: 1 / span 3;
  gap: 20px;
}

.ul-content {
  display: grid;
  gap: 20px;
}

.li-content {
  display: grid;
  gap: 10px;
}

.advice-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ----- галерея  картинок ------ */
.main-section_gallery {
  display: grid;
  grid-column: 1 / span 3;
  grid-auto-rows: minmax(auto, auto);
  gap: 10px;
}

/* ----- Галерея картинок 3 колонки ----- */
.gallery-list {
  display: grid;
  box-sizing: border-box;
  gap: 10px;
}

/* Общий стиль для всех элементов галереи */
.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* Изображение внутри элемента */
.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  width: 100%;
  place-content: center;
}

.text-shadow_footer {
  text-shadow: 2px 2px 0 var(--accent-color);
  padding-top: 10px;
}

.link-info {
  position: relative;
  display: inline-block;
  color: var(--p-effects);
  text-decoration: none;
  background: none;
  outline: none;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.link-info_found::before {
  content: "выяснили";
  position: absolute;
  color: transparent;
  left: 0;
  height: 10px;
  z-index: -1;
  text-shadow:
    0px 0px,
    2px 2px 0 var(--link-effects); /* Уменьшена прозрачность тени */
}

.link-info_showed::before {
  content: "показал";
  position: absolute;
  color: transparent;
  height: 10px;
  left: 0;
  z-index: -1; /* тень под текстом */
  text-shadow:
    0px 0px,
    2px 2px 0 var(--link-effects); /* Уменьшена прозрачность тени */
}

.link-info:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-effects);
  text-shadow: none;
}

.link-info:focus-visible {
  background-color: transparent;
  border: 1px solid rgba(255, 0, 112, 0.4);
}

/* ----- 
Медиазапросы Tablet (768px) 
----- */
@media (min-width: 768px) and (max-width: 1024px) {
  .page {
    height: 100vh;
    max-height: 924px;
  }

  .decorated-zone {
    min-height: 1024px;
    height: 100vh;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    min-height: 1024px;
    padding: 0;
  }

  .decorative-rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    padding: 190px 0 0;
  }

  .block-title {
    width: 100%;
    padding: 15px 0px 0;
  }

  .block-title_text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    /* font-size: 15.61vw;*/
  }

  .cit-block {
    justify-self: end;
    padding: 0px 20px 20px;
    width: 52.7vw;
  }

  .main-content {
    gap: 80px;
    margin: 60px 20px;
  }

  .main-section:nth-child(2) h2 {
    width: 30.7vw;
  }

  .main-section:nth-child(1),
  .main-section:nth-child(3) {
    grid-template-columns: 30.7vw 1fr;
    /* gap: 20px; */
    box-sizing: border-box;
    column-gap: 20px;
  }

  .main-section:nth-child(2) .card__main-title,
  .main-section:nth-child(3) .card__main-title {
    width: 30.7vw;
  }

  .main-section:nth-child(1) ul,
  .main-section:nth-child(3) ul {
    grid-column: 2;
  }

  .advice-block {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .strong-title {
    padding: 0;
  }

  /* ----- Галерея картинок 3 колонки Tablet (768px) ----- */
  .main-section_gallery {
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vw 30vw 41vw;
    gap: 20px;
    grid-auto-flow: dense;
  }

  /* Общий стиль для всех элементов галереи */
  .gallery__item {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    min-block-size: 4.3em;
    margin: 0;
  }

  /* Изображение внутри элемента */
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Позиционирование элементов в сетке */
  .gallery__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: span 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3; /* занимает 3‑ю колонку */
    grid-row: span 2; /* занимает 2 строки */
  }

  .gallery__item:nth-child(3) {
    grid-column: 1; /* занимает 1‑ю колонку */
    grid-row: span 2; /* занимает 3 строки */
  }

  .gallery__item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

/* ----- 
Медиазапросы Tablet (1024px)
 ----- */
@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .decorated-zone {
    min-height: 768px;
  }

  .header__theme-menu {
    padding-top: 20px;
    grid-column: span 3;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .block-title {
    width: 100%;
    grid-column: 1 / 3;
    padding: 157px 0 0;
  }

  .block-title_text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    /*   font-size: calc(157px - 1vh);*/
    letter-spacing: 5px;
  }

  .cit-block {
    width: 51.9vw;
    justify-self: end;
    padding: 0 20px 15px;
  }

  .li-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main-section:nth-child(1),
  .main-section:nth-child(3) {
    gap: 25px;
    grid-template-columns: 31.5% auto;
  }

  .main-section:nth-child(3) .card__main-title {
    width: 44vh;
  }

  .main-section:nth-child(1) h2,
  .main-section:nth-child(3) h2 {
    grid-column: 1;
  }

  .main-section:nth-child(1) ul,
  .main-section:nth-child(3) ul {
    grid-column: 2;
  }

  .main-section:nth-child(2) ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 25.3vw 30.7vw 42.3vw;
    box-sizing: border-box;
    grid-auto-flow: dense;
  }

  .gallery__item {
    box-sizing: border-box;
    min-block-size: 4.3em;

    position: relative;
    overflow: hidden;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Позиционирование картинок галерей в сетке */
  .gallery__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: span 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .block-title_footer {
    padding-top: 0;
  }
}

/* ----- 
Медиозапросы экран больше 1440px 
----- */
@media (min-width: 1440px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
    flex-direction: column;
  }
}
