html {
  margin: 0;
}

body {
  font-family: var(--font-family);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  place-self: center end;
  /*  background-color: var(--bg-color);
  background: var(--bg-image) center / cover fixed; */

  /* Наследование анимации */
  transition: inherit;
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

h4,
p {
  line-height: 23.4px;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
}

/* ----- настройки страницы ----- Mobile first (376px) */
/* -----  header ----- */
.header {
  display: grid;
  width: 100%;
  color: var(--heading-color);
  place-self: center center;
}

.header__theme-menu {
  grid-column: 3;
  padding: 70px 10px 0;
  justify-items: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  place-self: center center;
}

.header__theme-menu-button {
  font-size: 18px;
  background: none;
  outline: none;
  border: 1px solid transparent;
  min-width: 70px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--border-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--heading-color);
}

.block-title {
  grid-row: 2;
  width: 69vw;
  padding: 15px 10px 0;
  place-self: start end;
}

.block-title__text {
  line-height: 0.81;
  font-size: clamp(7.23rem, 0.5625rem + 14.4531vw, 9.8125rem);
  /*  font-size: 116px; /* fallback для неподдерживаемых браузеров */
}

.cit-block {
  grid-column: span 3;
  place-self: start end;
  margin: 0 10px 10px;
}

.highlight-block {
  height: fit-content;
}

/* ----- Декоративный элемент REC только в тёмной теме ----- */

.decorative-rec {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 400;

  text-transform: uppercase;
}

/* Псевдоэлемент: точка справа от REC с размытием */

.decorative-rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  vertical-align: middle;
  margin-left: 9px;
}

/* Псевдоэлемент: уголки */
.decorated-zone {
  position: relative;
  height: clamp(568px, 100vh, 668px);
}

.decorated-zone::before,
.decorated-zone::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--heading-color);
}

/* Верхний правый уголок */
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

/* Нижний левый уголок */
.decorated-zone::after {
  left: 10px;
  bottom: 10px;
  border-right: none;
  border-top: none;
}

/* ----- CSS MAIN   основноq контент Mobile first (376px) ----- */
.main-content {
  display: grid;
  gap: 50px;
  margin: 40px 10px;
}

.main-section {
  display: grid;
  grid-column: 1 / span 3;
  gap: 20px;
}

.ul-content {
  display: grid;
  gap: 20px;
}

.li-benefit {
  display: grid;
  gap: 10px;
}

.advice-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ----- галерея  картинок ------ */
.main-section_gallery {
  display: grid;
  grid-column: 1 / span 3;
  grid-auto-rows: minmax(auto, auto);
  gap: 10px;
}

/* ----- Галерея картинок 3 колонки ----- */
.gallery-list {
  display: grid;
  gap: 10px;
}

/* Общий стиль для всех элементов галереи */
.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* Изображение внутри элемента */
.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-list .gallery-item:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  width: 100%;
  place-content: center;
}

.text-shadow_footer {
  padding: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

/* -----
Ссылка с тенью
----- */
.link-info {
  position: relative;
  display: inline-block;
  color: var(--p-effects);
  text-decoration: none;
  background: none;
  outline: none;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.link-info::before {
  content: ""; /* Пустое значение по умолчанию */
  position: absolute;
  color: transparent;
  left: 0;
  height: 10px;
  z-index: -1;
  text-shadow:
    0px 0px,
    2px 2px 0 var(--shadow-color);
}

.link-info_found::before {
  content: "выяснили";
}

.link-info_showed::before {
  content: "показал";
}

.link-info:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--text-primary);
  text-shadow: none;
}

.link-info:focus-visible {
  background-color: transparent;
  border: 1px solid var(--text-primary);
}

/* ----- 
Медиазапросы (768px - 1024px) 
----- */
@media (min-width: 768px) and (max-width: 1024px) {
  .decorated-zone {
    min-height: 1024px;
    height: 100vh;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    padding: 0;
  }

  .decorative-rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    padding: 190px 0 0;
  }

  .block-title {
    width: 100%;
    padding: 10px 0px 0;
  }

  .block-title_text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    /* font-size: 15.61vw;*/
  }

  .cit-block {
    justify-self: end;
    padding: 0;
    width: 48vw;
    margin: 0px 20px 20px;
  }

  .main-content {
    gap: 80px;
    margin: 60px 20px;
  }

  .column-one {
    grid-column: span 1;
  }

  .li-benefit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main-section__grid--cols {
    grid-template-columns: 1fr;
    grid-column: 1 / span 3;
  }

  .main-section__grid--2cols {
    grid-template-columns: 31.5% auto;
    gap: 25px;
  }

  .main-section__grid--3cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  /* ----- 
  Галерея картинок 
  ----- */
  .main-section_gallery {
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vw 30vw 41vw;
    gap: 20px;
    grid-auto-flow: dense;
  }

  /* Общий стиль для всех элементов галереи */
  .gallery__item {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    min-block-size: 4.3em;
    margin: 0;
  }

  /* Изображение внутри элемента */
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Позиционирование элементов в сетке */
  .gallery__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: span 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3; /* занимает 3‑ю колонку */
    grid-row: span 2; /* занимает 2 строки */
  }

  .gallery__item:nth-child(3) {
    grid-column: 1; /* занимает 1‑ю колонку */
    grid-row: span 2; /* занимает 3 строки */
  }

  .gallery__item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

/* ----- 
Медиазапросы Tablet (1024px)
 ----- */
@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .decorated-zone {
    min-height: 768px;
  }

  .header__theme-menu {
    padding-top: 20px;
    grid-column: span 3;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .block-title {
    width: 100%;
    grid-column: 1 / 3;
    padding: 157px 0 0;
  }

  .block-title_text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main-section__grid--2cols {
    grid-template-columns: 31.5% auto;
    gap: 25px;
  }

  .li-benefit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main-section__grid--cols {
    grid-column: span 1;
  }

  .main-section__grid--3cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  .gallery-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 25.3vw 30.7vw 42.3vw;
    grid-auto-flow: dense;
  }

  /* Позиционирование картинок галерей в сетке */
  .gallery__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: span 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .block-title_footer {
    padding-top: 0;
  }
}

/* ----- 
Медиозапросы экран больше 1440px 

@media (min-width: 1440px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    padding: 30px;
    flex-direction: column;
  }
}
----- */
