/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #ff0070;
  --text-color-title: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --p-color: #f1b2ce;
  --link-effects: #ff0070;
}
