:root {
  --bg-color: var(--bg-color);
  --bg-image: var(--bg-image);

  /* Общие параметры */
  --font-family: "IBM Plex Mono", monospace;
  --line-height: 1.6;
  --spacing: 16px;
  --font-size: 18px;
  --font-weight-bold: 700;
  --font-weight: 400;

  --color-heading-primary: var(--color-heading-primary);
  --heading-color: var(--heading-color);
  --text-color-title: var(--text-color-title);
  --accent-color: var(--accent-color);
  --text-color-title: var(--text-color-title);
  --text-shadow-footer: 2px 2px 0 var(--shadow-color);

  /* Отключение декоративного элемента REC */
  --rec-display: var(--rec-display) /* Анимации */ --transition-duration: 0.3s;
  --transition-timing: ease-in-out;

  /* Анимация для фона */
  --transition-duration: 0.5s;
  --transition-timing: ease-in-out;
  transition:
    background-color var(--transition-duration) var(--transition-timing),
    background-image var(--transition-duration) var(--transition-timing);
}

/* Глобальные переменные */
body {
  background-color: var(--bg-color);
  background: var(--bg-image) center / cover fixed;

  transition:
    background-color var(--transition-duration) var(--transition-timing),
    background-image var(--transition-duration) var(--transition-timing);
}

h1,
h2,
h3 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

h2,
h3,
h4,
p {
  font-size: var(--font-size);
}

h2 {
  color: var(--heading-color);
}

h3 {
  color: var(--text-color-title);
}

h4,
p {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.decorative-rec {
  display: var(--rec-display);
  font-size: var(--font-size);
  color: var(--heading-color);
  line-height: var(--line-height);
}

.block-title__text {
  font-weight: var(--font-weight-bold);
  line-height: 0.81;
  color: var(--color-heading-primary);
  text-shadow: var(--heading-shadow);
}

.cit-text {
  font-weight: var(--font-weight-bold);
  color: var(--text-color-title);
}

.highlight-block {
  color: var(--text-color-title);
  background-color: var(--accent-color);
}

.text-shadow_footer {
  font-weight: var(--font-weight-bold);
  color: var(--color-heading-primary);
  text-shadow: var(--text-shadow-footer);
}

/*
:root {

  
  /* Основные цвета (дефолт — тёмная тема) */
/* Фон */
/* --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-repeat: no-repeat;
  --bg-size: cover;

  /* Анимации */
/* --transition-duration: 0.3s;
  --transition-timing: ease-in-out;

  /* Анимация для фона */
/* transition:
    background-color var(--transition-duration) var(--transition-timing),
    background-image var(--transition-duration) var(--transition-timing);

  --color-heading-primary: #db00ff; /* Главный заголовок */
/*  --heading-color: #ff0070; /* заголовки */
/*  --shadow-color: var(--heading-color);
  --heading-shadow: 4px 4px 0 var(--shadow-color); /* Тень заголовока */
/* --text-shadow-footer: 2px 2px 0 var(--shadow-color);

  --text-primary: #f1b2ce; /* основной текст */
/*  --text-secondary: #353430; /* второстепенный текст */

/*  --accent-color: var(--heading-color);

  --link-effects: var(--heading-color);

  --border-color: var(--heading-color);
  --border-color-rgb: 255, 0, 112;
  --shadow-color: var(--heading-color);

  --rec-display: block; /* показываь декор rec */

/* Общие параметры */
/*  --font-family: "IBM Plex Mono", monospace;
  --line-height: 1.6;
  --spacing: 16px;
  --font-size: 18px;
  --font-weight-bold: 700;
}

*/
